@{
    ViewBag.Title = "Antagonist One: Shark";
}

<br />
<div class="redAntagonist">
    <h3 class="myCenterTextRed">Space Shark</h3>
    @*<img />*@
    <div class="holdImg">
        <p>This is a placeholder for the img</p>
    </div>
    @* Text Box explaining what to do *@
    <div class="txtBoxRed">
        Setup: Put the Giant Space Shark token in the unexplored reaches.
        the Shark track: [Put locations here]
        <br />
        Sign 1: Move shark ahead 1
        Sign 1: Move shark ahead 1
        Sign 1: Move shark ahead 1
        <br />
        <br />
        If, at the end of the turn, the shark is in the Earth space, lose 3 stability.
    </div>
</div>
<br />
