@{
    ViewBag.Title = "Antagonist One: Shark";
}

<br />
<div class="redAntagonist">
    <h3 class="myCenterTextRed">Space Shark</h3>
    @*<img />*@
    <div class="holdImg">
        <p>This is a placeholder for the img</p>
    </div>
    @* Text Box explaining what to do *@
    <div class="txtBoxRed">
        Location: the Unexplored Reaches
        <br />
        Action: Make a sensors check to match the challenge listed below. A success results in 1 Prestige for each player and an amount of prestige for you equal to the sensors challenge level. A player may only do this once per turn.
        <br />
        <br />
        <div class="row explorationNumbersZone">
            &#9312;  =>  &#9313;  =>  &#9314;  =>
        </div>
        <br />
        <br />
        <div class="row explorationNumbersZone">
            &#9315;  =>  &#9316;
        </div>
    </div>
</div>
<br />
