@{
    ViewBag.Title = "Home Page";
}

<h1 style="color:#3f6c49;">This is protagonist Color</h1>
<br />
<h1 style="color:#B0493E;">This is antagonist Color</h1>

<div class="greenProtagonist">
    <h3>Protagonist Card Title</h3>
    @*<img />*@
    <div>
        <p>This is a placeholder for the img</p>
    </div>
    @* Text Box explaining what to do *@
</div>