@{
    ViewBag.Title = "Protagonist Three";
}

<br />
<div class="greenProtagonist">
    <h3 class="myCenterTextGreen">Core World Diplomacy</h3>
    @*<img />*@
    <div class="holdImg">
        <p>This is a placeholder for the img</p>
    </div>
    @* Text Box explaining what to do *@
    <div class="txtBoxGreen">
        Location: Core planets and Earth
        <br />
        Action: 
        <br />
        <br />
        <div class="row explorationNumbersZone">
            &#9312;  =>  &#9313;  =>  &#9314;  =>
        </div>
        <br />
        <br />
        <div class="row explorationNumbersZone">
            &#9315;  =>  &#9316;
        </div>
    </div>
</div>
<br />