
@{
    ViewBag.Title = "Protagonist One";
}

<br />
<div class="greenProtagonist">
    <h3 class="myCenterText">Exploring the Frontier</h3>
    @*<img />*@
    <div class="holdImg">
        <p>This is a placeholder for the img</p>
    </div>
    @* Text Box explaining what to do *@
    <div class="txtBox">
        Location: the Unexplored Reaches
        <br />
        Action: Make a sensors check to match the challenge listed below. A success results in 1 Prestige for each player and an amount of prestige for you equal to the sensors challenge level. A player may only do this once per turn.
        <div class="row">
            1 => 2 => 3 =>
        </div>
        <div class="row">
            4 => 5
        </div>
    </div>
</div>
<br />