
@{
    ViewBag.Title = "Protagonist One";
}

<br />
<div class="greenProtagonist">
    <h3 class="myCenterText">Exploring the Frontier</h3>
    @*<img />*@
    <div class="holdImg">
        <p>This is a placeholder for the img</p>
    </div>
    @* Text Box explaining what to do *@
    <div class="txtBox">
        Location: the Unexplored Reaches

    </div>
</div>
<br />