
.greenProtagonist {
    background-color: #27AD8B;
    height: 700px;
    width: 700px;
    border-style: solid;
    border-width: 6px;
    border-color: black;
    border-radius: 12px;
}

.holdImg{
    background-color: bisque;
}